body{
  background-color: #ff2947;


}

.container {
  margin: 50px auto;
  text-align: center;
  max-width: 500px;
}

h1,
h2 {
  font-family: Lora,serif;
  font-weight: normal;
}

h1 {
  letter-spacing: 0.3em;
}

p {
  font-family: Lora,serif;
  text-align: right;
}

#lghnow {
  color:white;
  margin-top: 50px;
  font-family:Lora,serif;
  font-style: italic;
  letter-spacing: 0.1em;
}

#lghnow:before {
  content: '"'
}

#lghnow:after {
  content: '"'
}

#lghpls {
  padding: 10px 20px;
  background-color: #002947;
  border: 0;
  font-family: helvetica, sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: large;
  color: white;

  
}